footer{
  margin-top: 60px;
  .brand{
    float: left;
    margin-top: 8px;
    font-size: 10px;
    font-weight: bolder;
    color: #999;
  }
  .footer-logo{
    width: 242px;
    margin-bottom: 30px;
  }
}
