footer{
  margin-top: 60px;
  .brand{
    float: left;
    margin-top: 5px;
    margin-right: 6px;
    font-size: 13px;
    font-weight: bolder;
  }
  .footer-logo{
    width: 242px;
    margin-bottom: 30px;
  }
}
