@media (max-width: 489px) {
  .header-bar{
    width: 100%;
    background-color: #c8232c;
    float: left;
    color: white;
    margin-bottom: 30px;
    padding-bottom: 10px;
    .logo a { margin-left: 0 !important; }
    .logo{
      background-image: image-url('logo-site-mobile.png');
      float: left;
      width: 28px;
      height: 20px;
      margin: 16px 0 6px 0;
    }
    a{
      color: white;
    }
    .nav-itens{
      margin-top: 17px;
      a {
        margin-left: 15px;
      }
      .filters {
        display:none;
      }
    }
  }
}

@media (min-width: 490px) {
  .header-bar{
    width: 100%;
    background-color: #c8232c;
    float: left;
    color: white;
    margin-bottom: 30px;
    padding-bottom: 10px;
    .logo a { margin-left: 0 !important; }
    .logo{
      background-image: image-url('logo-site.png');
      width: 154px;
      height: 20px;
      float: left;
      margin: 16px 0 6px 0;
    }
    a{
      color: white;
    }
    .nav-itens{
      margin-top: 17px;
      a{
        margin-left: 20px;
      }
    }
  }
}