.header-bar{
  width: 100%;
  background-color: #f84241;
  float: left;
  color: white;
  margin-bottom: 30px;
  a{
    color: white;
    margin-left: 20px;
  }
  .nav-itens{
    margin-top: 17px;
  }
}

