.header-bar{
  width: 100%;
  background-color: #c8232c;
  float: left;
  color: white;
  margin-bottom: 30px;
  padding-bottom: 10px;
  .logo a { margin-left: 0 !important; }
  .logo{
    float: left;
    margin-top: 16px;
    margin-bottom: 6px;
    margin-left: 0px;
  }
  a{
    color: white;
    margin-left: 20px;
  }
  .nav-itens{
    margin-top: 17px;
  }
}

