.news-box{
  .controls{
    .glyphicon{
      color: #999;
    }
    float: left;
    width: 34px;
    margin-top: 9px;
    margin-left: 20px;
    margin-right: 20px;
    .btn{
      margin-bottom: 6px;
    }
    a{
      color: #999;
    }
  }
  a{
    color: #222;
  }
  margin-bottom: 8px;
  padding: 12px 0px 12px 0px;
  border: 1px solid #eee;
  width: 100%;
  border-radius:3px;
  background-color: white;
  .link{
    color: #a5a5a5;
    font-size: 10pt;
    line-height: 4px;
    margin-left: 74px;
  }
  .timestamp{
    color: #a5a5a5;
    margin-left: 74px;
  }

  .description{
    margin-left: 74px;
    margin-bottom: 8px;
    margin-top: 28px;
  }

  .comment{
    padding-left: 20px;
  }
}

.active, .voted{
  background-color: #f6f6f6 !important; 
  color: #ccc !important; 
}
