p = "Olá #{@resource.email}!"

p Alguém requisitou o link para troca de senha. Você pode fazer isso através do link abaixo.

p = link_to 'Alterar senha', edit_password_url(@resource, :reset_password_token => @token)

p Se você não requisitou isso, por favor, ignore este email

p Sua senha não será trocada até que você clique no link e crie uma nova.
